{{ partial "head.html" . }}
  <body class="{{ .Site.Params.themeColor }}">
    <div class="wrapper">
      {{ partial "sidebar.html" . }}
      <section>
        <div class="gist">
          <small class="gist-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</small>
          <p class="gist-content">
            <p>
              <h1>{{ .Title }}</h1>
            </p>
            {{ .Content }}
          </p>
          <small class="gist-tags"></small>
        </div>

        <!-- {{ if and (isset .Site.Params "disqusShortname") (ne .Site.Params.disqusShortname "") }}
        <h2>Comments</h2>
        {{ partial "disqus" . }}
        {{ end }} -->
      </div>

    </section>

  </body>
</html>
