{{ partial "head.html" . }}
  <body class="{{ .Site.Params.themeColor }}">
    <!-- {{ partial "sidebar.html" . }} -->
    <div class="wrapper">
      {{ partial "sidebar.html" }}
      <section>
        {{ range .Data.Pages }}
          <div class="gist">
            <div class="post">
              <span class="gist-date">
                <small>{{ .Date.Format "Mon, Jan 2, 2006" }}</small>
              </span>
              
              <h1 class="post-title">
                <a href="{{ .Permalink }}">
                  {{ .Title }}
                </a>
              </h1>

              {{ .Content }}
            </div>
          </div>
          <p></p>
        {{ end }}

      </section>
      <footer>
        <p><small>Hosted on GitHub Pages — Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>

  </body>
</html>
